input,label
{
  display: block;
  margin-left: 31%;
}

h1{
    text-align: center;
    margin-top: 4rem;
    color:#873600;
}

#check-number
{
     margin-top: 1rem;
    margin-left: 42%;
    background-color: transparent;
    color: #873600;
    border-color:#873600 ;
    border-width: medium;
    padding: 0.6;
    height: 40px;
    border-radius: 0.2rem;
    width: 140px;
    font-size: 16px;


}

body
{
   background-color: #FEF5E7  ;
   font-family:'Montserrat';
}




input
{
    margin-bottom: 0.5rem;
    width: 40%;
    height: 1.7rem;
    /* border-radius: px; */
}



#date-of-birth
{
    height: 3rem;
    border-radius: 8px;
}



#output-box
{
     border: 1px solid black;
     height: 55px;
     width: 38%;
     margin-left: 32%;
     border-radius: 8px;
     margin-top: 2rem;
     color: black;
     background-color: ghostwhite;

}
#lucky-number1
{
    color:#873600;
      font-size: 30px;
}
#date-of-birthday
{
    color:#873600;
    font-size: 30px;
}

#lucky-number{
  height:3rem;
  border-radius: 8px;

}
