input,label
{
  display: block;
  margin-left: 31%;
}

h1{
    text-align: center;
    margin-top: 4rem;
    color:#40B5AD;
}

#check-number
{
     margin-top: 1rem;
    margin-left: 42%;
    background-color: transparent;
    color: #40B5AD;
    border-color:#40B5AD ;
    border-width: medium;
    padding: 0.6;
    height: 30px;
    border-radius: 0.2rem;
    width: 110px;
     
 

}

body
{
   background-color:#1B0A2A;
   font-family:'Montserrat';
}




input
{
    margin-bottom: 0.5rem;
    width: 40%;
    height: 1.7rem;
    /* border-radius: px; */
}



#date-of-birth
{
    height: 1.7rem;
}



#output-box
{
     border: 1px solid black;
     height: 50px;
     width: 38%;
     margin-left: 32%;
     border-color: white;
     margin-top: 2rem;
     color: white;
}
#lucky-number
{
    color: #40B5AD;
}
#date-of-birthday
{
    color: #40B5AD;
}